<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD NEW PRODUCT</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="username" placeholder="gender"> </br>
        <input type="text" name="product_name" placeholder="product_name"> </br>
		<input type="text" name="img" placeholder=""> </br>
		<input type="text" name="discription"placeholder="discription"> </br>
		<input type="text" name="size" placeholder="size"> </br>
		<input type="text" name="color" placeholder="color"> </br>
		<input type="text" name="prize" placeholder="prize"> </br>
        <button type="submit" name="submit" >ADD</button>
    </form>
</body>
</html>
