<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="username" placeholder="User Name"> </br>
        <input type="password" name="password" placeholder="Password"> </br>
		<input type="text" name="emp_name" placeholder="Customer Name"> </br>
		<input type="text" name="cmp_name"placeholder="Customer Address" > </br>
		<input type="text" name="contact" placeholder="Contact Number"> </br>
        <button type="submit" name="submit" >Registration</button>
    </form>
</body>
</html>
