<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Admin</title>
</head>
<body>
    <h1>welcome, <%= user%></h1>
	<a href="/login/addNewproduct">Add new Product </a></br>
	<a href="/login/registration">Register a new Customer</a>
	</br>
	<a href="/update">Update product info</a>
	</br>
	<a href="/delete">remove a product</a>
	</br>
	<input type="text" name="search" placeholder="Search">
	<button name="Search">Search</button>
	
</body>
</html>
